@import "tailwindcss";
@import "./typography.css";

@import "./rcSlider.css";
@import "./reactDateRange.css";

@theme {
  /* Primary Colors */
  --color-mint: #37cdac;
  --color-mint-contrast: #1f9f8a;
  --color-mint-light: #f2fffc;
  --color-mint-press: #216d60;

  /* Secondary Colors */
  --color-violet: #a568ff;
  --color-violet-ultralight: #faf5ff;
  --color-violet-dark: #8041de;

  /* Grayscale */
  --color-gray-0: #f7f8fa;
  --color-gray-100: #f4f6fb;
  --color-gray-200: #e9ecf3;
  --color-gray-300: #dbdee8;
  --color-gray-400: #c8ccd7;
  --color-gray-500: #b1b5c0;
  --color-gray-600: #9498a2;
  --color-gray-700: #71747c;
  --color-gray-800: #484a4f;
  --color-gray-900: #1e1f21;

  /* Base Colors */
  --color-white: #ffffff;
  --color-black: #000000;

  /* Semantic Colors */
  --color-red: #ff585b;
  --color-red-light: #ffebeb;
}

@layer base {
  body {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@layer utilities {
  /* gradient */
  .bg-gradient-upper-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 50px;
    width: 100%;
    pointer-events: none;
    background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 1) 0%,
      rgba(255, 255, 255, 0.95) 20%,
      rgba(255, 255, 255, 0.85) 50%,
      rgba(255, 255, 255, 0.6) 80%,
      rgba(255, 255, 255, 0.2) 100%
    );
    z-index: 10;
  }

  .bg-gradient-bottom-overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 50px;
    width: 100%;
    pointer-events: none;
    background: linear-gradient(
      0deg,
      rgba(255, 255, 255, 1) 0%,
      rgba(255, 255, 255, 0.95) 20%,
      rgba(255, 255, 255, 0.85) 50%,
      rgba(255, 255, 255, 0.6) 80%,
      rgba(255, 255, 255, 0.2) 100%
    );
    z-index: 10;
  }

  /* shadow  */
  .shadow-fab {
    box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.25);
  }

  /* blur */
  .backdrop-blur-4 {
    background: #1e1f21cc;
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
  }

  /* scrollbar hide */
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}
