@import "react-date-range/dist/styles.css";
@import "react-date-range/dist/theme/default.css";

/* ========= 기본 레이아웃 ========= */
.rdrMonthAndYearWrapper {
  display: none !important;
}

.rdrMonth {
  width: 308px;
  align-self: center;
  padding: 0;
}

.rdrDays {
  display: flex;
  flex-wrap: wrap;
  width: fit-content;
  margin: 8px auto;
  row-gap: 12px;
}

/* ========= 날짜 셀 ========= */
.rdrDay {
  width: 44px;
  height: 28px;
  padding: 0;
  border: none;
  background-color: transparent;
  box-sizing: border-box;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

button.rdrDay {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

/* ========= 날짜 숫자 ========= */
.rdrDayNumber {
  width: 28px;
  height: 100%;
  padding: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
}

.rdrDayNumber span {
  font-size: 16px;
  font-weight: 600;
  line-height: 135%;
  letter-spacing: -0.02em;
  width: 28px;
  height: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: relative;
  z-index: 2;
}

.rdrDay.rdrDayInRange .rdrDayNumber span {
  background-color: var(--color-mint);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  border-radius: 0;
}

/* ========= Range 영역 ========= */
.rdrInRange,
.rdrStartEdge,
.rdrEndEdge {
  background-color: var(--color-mint);
  color: var(--color-white);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  border-radius: 0;
}

.rdrStartEdge {
  width: 100%;
  margin-left: 0;
  border-top-left-radius: 14px;
  border-bottom-left-radius: 14px;
}

/* 단일 날짜 선택일 때만 마진 적용 */
.single-selection .rdrStartEdge {
  width: 28px;
  margin-left: 8px;
}

.rdrEndEdge {
  border-top-right-radius: 14px;
  border-bottom-right-radius: 14px;
}

/* ========= 상태에 따른 배경 ========= */
.rdrDay.rdrDayInRange {
  background-color: var(--color-mint);
  color: var(--color-white);
  border-radius: 0;
  box-shadow: none;
}

.rdrDayStartOfRange {
  background-color: var(--color-mint);
  color: var(--color-white);
  border-radius: 14px 0 0 14px;
}

.rdrDayEndOfRange {
  background-color: var(--color-mint);
  color: var(--color-white);
  border-radius: 0 14px 14px 0;
}

.rdrDayStartOfRange,
.rdrDayEndOfRange {
  border-radius: 14px;
}

/* ========= Hover, Preview ========= */
.rdrDayStartPreview,
.rdrDayInPreview,
.rdrDayEndPreview,
.rdrDayHovered {
  background-color: transparent !important;
  border: none !important;
}

/* ========= 요일 헤더 ========= */
.rdrWeekDays {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 292px;
  margin: 0 8px;
  gap: 16px;
}

.rdrWeekDay {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 28px;
  height: 22px;
  text-transform: lowercase;
  font-size: 12px;
  font-weight: 500;
  line-height: 135%;
  letter-spacing: -0.02em;
  color: #0f0f10;
}

/* ========= 요일별 스타일 ========= */
.rdrDay:nth-child(7n + 1) .rdrDayNumber span {
  color: var(--color-red) !important;
}

.rdrDay:nth-child(7n) .rdrDayNumber span {
  color: var(--color-gray-700) !important;
}

/* ========= Passive ========= */
.rdrDayPassive {
  color: var(--color-gray-300) !important;
}

.rdrDay.rdrDayPassive .rdrDayNumber span {
  color: var(--color-gray-300) !important;
}

.rdrDay.rdrDayDisabled .rdrDayNumber span {
  background-color: var(--color-gray-100) !important;
  color: var(--color-gray-300) !important;
  border-radius: 50%;
}

/* ========= 상단 요약 날짜 영역 ========= */
.rdrDateDisplay {
  background-color: var(--color-gray-0);
  padding: 16px 40.5px;
  margin: 0;
  display: flex;
  justify-content: center;
  gap: 24px;
}

.rdrDateDisplayItem {
  border: 1px solid var(--color-gray-400);
  background-color: var(--color-white);
  border-radius: 4px;
  padding: 4px 12px;
  box-shadow: none;
  color: var(--color-gray-700);
  font-size: 16px;
  font-weight: 500;
  line-height: 135%;
  letter-spacing: -0.02em;
  cursor: pointer;
}

.rdrDateDisplayItemActive {
  background-color: var(--color-mint-contrast);
  border-color: var(--color-mint-contrast);
  color: var(--color-white);
}

/* ========= 달/연도 선택 숨김 ========= */
.rdrMonthAndYearWrapper {
  margin-top: 8px;
  padding: 12px 44px;
  height: auto;
}

.rdrMonthAndYearPickers {
  display: none;
}

/* ========= 기타 ========= */
.rdrDayNumber span:after {
  display: none;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  display: none;
  -webkit-appearance: none;
}

.rdrDay .rdrSelected ~ .rdrDayNumber,
.rdrDay .rdrStartEdge ~ .rdrDayNumber,
.rdrDay .rdrEndEdge ~ .rdrDayNumber {
  background-color: #37cdac !important;
  border-radius: 50%;
}

/* 강제 캘린더 비활성화 스타일 */
.rdrCalendarWrapper.disabled {
  background-color: var(--color-gray-100);
  color: var(--color-gray-300);
}

.rdrCalendarWrapper.disabled .rdrDay {
  background-color: transparent;
  color: var(--color-gray-300);
}

.rdrCalendarWrapper.disabled .rdrDayNumber span {
  color: var(--color-gray-300);
}

.rdrCalendarWrapper.disabled .rdrDay:nth-child(7n + 1) .rdrDayNumber span,
.rdrCalendarWrapper.disabled .rdrDay:nth-child(7n) .rdrDayNumber span {
  color: var(--color-gray-300) !important;
}

.rdrCalendarWrapper.disabled .rdrDay .rdrDayToday {
  background-color: transparent !important;
}
.rdrCalendarWrapper.disabled .rdrDay {
  pointer-events: none;
}

.rdrCalendarWrapper.disabled .rdrDay .rdrStartEdge,
.rdrCalendarWrapper.disabled .rdrDay .rdrEndEdge {
  background-color: transparent !important;
}

.rdrCalendarWrapper.disabled .rdrDay .rdrDayNumber span {
  color: var(--color-gray-300);
}
.rdrCalendarWrapper.disabled .rdrDay .rdrSelected ~ .rdrDayNumber,
.rdrCalendarWrapper.disabled .rdrDay .rdrStartEdge ~ .rdrDayNumber,
.rdrCalendarWrapper.disabled .rdrDay .rdrEndEdge ~ .rdrDayNumber {
  background-color: transparent !important;
}
